/* Pretty Template Fonts */

/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Muli:400,400i,600,700&display=swap");

/* Flaticon */
@font-face {
  font-family: "Flaticon";
  src: url("/templates/pretty/fonts/Flaticon.eot");
  src: url("/templates/pretty/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/templates/pretty/fonts/Flaticon.woff2") format("woff2"),
       url("/templates/pretty/fonts/Flaticon.woff") format("woff"),
       url("/templates/pretty/fonts/Flaticon.ttf") format("truetype"),
       url("/templates/pretty/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-play-button:before { content: "\f100"; }
.flaticon-play-button-1:before { content: "\f101"; }
.flaticon-play-button-2:before { content: "\f102"; }
.flaticon-back:before { content: "\f103"; }
.flaticon-next:before { content: "\f104"; }
.flaticon-right-quote:before { content: "\f105"; }
.flaticon-left-quote:before { content: "\f106"; }
.flaticon-rose:before { content: "\f107"; }
.flaticon-flower:before { content: "\f108"; }
.flaticon-spring:before { content: "\f109"; }
.flaticon-favorite-heart-button:before { content: "\f10a"; }

/* Themify Icons */
@font-face {
  font-family: 'themify';
  src: url('/templates/pretty/fonts/themify.eot');
  src: url('/templates/pretty/fonts/themify.eot?#iefix') format('embedded-opentype'),
       url('/templates/pretty/fonts/themify.woff') format('woff'),
       url('/templates/pretty/fonts/themify.ttf') format('truetype'),
       url('/templates/pretty/fonts/themify.svg#themify') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-facebook:before { content: "\e741"; }
.ti-twitter-alt:before { content: "\e74b"; }
.ti-instagram:before { content: "\e743"; }
.ti-pinterest:before { content: "\e746"; }
.ti-location-pin:before { content: "\e6d1"; }
.ti-time:before { content: "\e6bc"; }
.ti-close:before { content: "\e646"; }
.ti-reload:before { content: "\e6b7"; }
.ti-control-play:before { content: "\e6a8"; }

